body{
    font-family: Roboto, Helvetica;
}

.header {
    height: 100pt;
    font-size: 150%;
    padding-top: 15pt;
}

.navbar-link:hover,
.navbar-link:visited,
.navbar-link:active,
.navbar-link:link {
    background-color: transparent !important;
}

.index {
    background-color: #009688;
}

.mega-margin {
    float:none;
    margin-top: auto;
    padding: 5%;
}

.super-info {
    color: #ffffff;
    border: 3px solid white;
    margin: auto;
    padding: 5%;
}

.img-bgd {
    background: url(../img/city-cars-traffic-lights.jpeg) fixed center;
    height: 100%;
}

.g-map {
    height: 500px;
}

.address {
    padding: 3%;
    font-size:12pt;
    min-height: 209px;
}

.margin-bot {
    margin-bottom: 5%;
}

.ftr {
    margin-top: 2%;
    margin-bottom: 2%;
}