{% load i18n %}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="nav nav-tabs" role="tablist">
            <li>
                <a href="{% url 'password_change' %}">
                    {% trans "Change password" %}
                </a>
            </li>
            <li>
                <a href="{% url 'update_account' %}">
                    {% trans 'Edit settings' %}
                </a>
            </li>
            <li>
                <a href="{% url 'display_employees' %}">
                    {% trans "All employees" %}
                </a>
            </li>
            <li>
                <a href="{% url "display_clients" %}">
                    {% trans "All clients" %}
                </a>
            </li>
            <li>
                <a href="{% url "carpart_home" %}">
                    {% trans 'Carparts' %}
                </a>
            </li>
            <li>
                <a href="{% url 'provider_home' %}">
                    {% trans 'Providers' %}
                </a>
            </li>
        </ul>
    </div>
</div>