{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="container">
        {% include 'accounts/admin_navbar.html' %}
        {% if employee %}
            <h3 class="text-muted">
                {% trans "All employees" %}
            </h3>
            {% include 'accounts/employee_table.html' %}
        {% else %}
            <h3 class="text-muted">
                {% trans "All clients" %}
            </h3>
            {% include "accounts/clients_table.html" %}
        {% endif %}
    </div>

    {% include 'accounts/delete_user_modal.html' %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript">
        var delete_url;
        var toggle_activate_url = "{% url 'toggle_activate_user' %}";
        var csrf ='{{ csrf_token }}';
        var change_salary_url = "{% url 'change_salary' %}";
        {% if employee %}
            delete_url = "{% url 'delete_employee' %}";
        {% else %}
            delete_url = "{% url 'delete_client' %}";
        {% endif %}
    </script>
    <script src="{% static 'js/employee_table.js' %}"></script>
{% endblock %}