{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="container">
        <h3 class="text-muted">
            {% trans 'Account' %}
        </h3>
        {% include 'accounts/employee_navbar.html' %}
        <div class="row">
            <div class="h4 page-header text-muted text-center">
                {% trans "Your account information" %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-2 col-md-offset-2 col-md-2 col-sm-4 col-xs-6">
                <label>
                    {% trans "Username" %}
                </label>
            </div>
            <div class="col-lg-offset-3 col-lg-2 col-md-offset-2 col-md-2 col-sm-4 col-xs-6">
                {{ user.username }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-2 col-md-offset-2 col-md-2 col-sm-4 col-xs-6">
                <label>
                    {% trans "First name" %}
                </label>
            </div>
            <div class="col-lg-offset-3 col-lg-2 col-md-offset-2 col-md-2 col-sm-4 col-xs-6">
                {{ user.first_name }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-2 col-md-offset-2 col-md-2 col-sm-4 col-xs-6">
                <label>
                    {% trans "Last name" %}
                </label>
            </div>
            <div class="col-lg-offset-3 col-lg-2 col-md-offset-2 col-md-2 col-sm-4 col-xs-6">
                {{ user.last_name }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-2 col-md-offset-2 col-md-2 col-sm-4 col-xs-6">
                <label>
                    {% trans "Email address" %}
                </label>
            </div>
            <div class="col-lg-offset-3 col-lg-2 col-md-offset-2 col-md-2 col-sm-4 col-xs-6">
                {{ user.email }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-2 col-md-offset-2 col-md-2 col-sm-4 col-xs-6">
                <label>
                    {% trans "Telephone" %}
                </label>
            </div>
            <div class="col-lg-offset-3 col-lg-2 col-md-offset-2 col-md-2 col-sm-4 col-xs-6">
                {{ user.employee.telephone }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-2 col-md-offset-2 col-md-2 col-sm-4 col-xs-6">
                <label>
                    {% trans "Address" %}
                </label>
            </div>
            <div class="col-lg-offset-3 col-lg-2 col-md-offset-2 col-md-2 col-sm-4 col-xs-6">
                {{ user.employee.address }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-2 col-md-offset-2 col-md-2 col-sm-4 col-xs-6">
                <label>
                    {% trans "Begin of contract" %}
                </label>
            </div>
            <div class="col-lg-offset-3 col-lg-2 col-md-offset-2 col-md-2 col-sm-4 col-xs-6">
                {{ user.employee.contract_begin }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-2 col-md-offset-2 col-md-2 col-sm-4 col-xs-6">
                <label>
                    {% trans "Salary" %}
                </label>
            </div>
            <div class="col-lg-offset-3 col-lg-2 col-md-offset-2 col-md-2 col-sm-4 col-xs-6">
                {{ user.employee.salary }}
            </div>
        </div>
    </div>
{% endblock %}