{% load staticfiles %}
<!DOCTYPE html >
<html lang="en">
    <head>
        <title>CarMachina {% block title %} {% endblock %}</title>
        <!-- CSS -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> </link>
        <link href="{% static 'css/bootstrap-material-design.min.css' %}"/>
        <!-- Material Design fonts -->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

        <!-- javascript -->
        <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/material.min.js' %}"></script>

        {% block head %}
        {% endblock %}
    </head>
    <body>

        {% block content %}
        {% endblock %}

        {% block script %}
        {% endblock %}
    </body>
</html>
