{% load i18n %}

<div class="navbar navbar-default header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="glyphicon glyphicon-option-vertical"></span>
            </button>

            <a class="navbar-brand" href="{% url 'home_page' %}">
                <span class="glyphicon glyphicon-road"</span>
                <b class="h1">CarMachina</b>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="nav-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="navbar-link">
                        {% trans "Log in" %}
                    </a>
                </li>
                <li>
                    <a href="#" class="navbar-link">
                        {% trans "Sign up" %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
